@import "tailwindcss";


body::-webkit-scrollbar{
    display: none;
}
body{
    background-color: #F9F5EC;
    overflow: hidden;
}

@font-face {
    font-family:"font1";
    src: url('/fonts/font1.woff') format("woff");
}
@font-face {
    font-family:"font2";
    src: url('/fonts/font2.woff') format("woff");
}
@font-face {
    font-family:"font3";
    src: url('/fonts/font3.woff') format("woff");
}
@font-face {
    font-family:"font4";
    src: url('/fonts/font4.woff') format("woff");
}